In [47]:
#Dependencies
import re
import pandas as pd
from datetime import datetime

In [48]:
#URL of page to be scrapes
link= 'https://lotterycorner.com/ny/powerball/2019'

In [49]:
tables=pd.read_html(link)

In [50]:
org_df=tables[0]
org_df.columns= ['Date', 'Winning Numbers', 'Jackpot']
del org_df['Winning Numbers']
org_df.head()

org_df=org_df.iloc[2:]
org_df.head()

org_df

            Date       Jackpot
2   Nov 13, 2019   $60 Million
3   Nov 09, 2019   $50 Million
4   Nov 06, 2019   $40 Million
5   Nov 02, 2019  $150 Million
6   Oct 30, 2019  $140 Million
7   Oct 26, 2019  $130 Million
8   Oct 23, 2019  $120 Million
9   Oct 19, 2019  $110 Million
10  Oct 16, 2019  $100 Million
11  Oct 12, 2019   $90 Million
12  Oct 09, 2019   $80 Million
13  Oct 05, 2019   $70 Million
14  Oct 02, 2019   $60 Million
15  Sep 28, 2019   $50 Million
16  Sep 25, 2019   $40 Million
17  Sep 21, 2019   $80 Million
18  Sep 18, 2019   $70 Million
19  Sep 14, 2019   $60 Million
20  Sep 11, 2019   $50 Million
21  Sep 07, 2019   $40 Million
22  Sep 04, 2019   $80 Million
23  Aug 31, 2019   $70 Million
24  Aug 28, 2019   $60 Million
25  Aug 24, 2019   $50 Million
26  Aug 21, 2019   $40 Million
27  Aug 17, 2019  $149 Million
28  Aug 14, 2019  $138 Million
29  Aug 10, 2019  $128 Million
30  Aug 07, 2019  $112 Million
31  Aug 03, 2019  $102 Million
..           ...           ...
63  Apr 13, 2019  $101 Million
64  Apr 10, 2019   $84 Million
65  Apr 06, 2019   $68 Million
66  Apr 03, 2019   $54 Million
67  Mar 30, 2019   $40 Million
68  Mar 27, 2019  $750 Million
69  Mar 23, 2019  $625 Million
70  Mar 20, 2019  $550 Million
71  Mar 16, 2019  $495 Million
72  Mar 13, 2019  $448 Million
73  Mar 09, 2019  $414 Million
74  Mar 06, 2019  $381 Million
75  Mar 02, 2019  $348 Million
76  Feb 27, 2019  $322 Million
77  Feb 23, 2019  $304 Million
78  Feb 20, 2019  $282 Million
79  Feb 16, 2019  $260 Million
80  Feb 13, 2019  $242 Million
81  Feb 09, 2019  $224 Million
82  Feb 06, 2019  $204 Million
83  Feb 02, 2019  $191 Million
84  Jan 30, 2019  $174 Million
85  Jan 26, 2019  $161 Million
86  Jan 23, 2019  $144 Million
87  Jan 19, 2019  $129 Million
88  Jan 16, 2019  $112 Million
89  Jan 12, 2019   $96 Million
90  Jan 09, 2019   $82 Million
91  Jan 05, 2019   $69 Million
92  Jan 02, 2019   $53 Million

[91 rows x 2 columns]

In [59]:
from datetime import datetime

#dr=org_df.Date
#date_d1 = [datetime.strptime(dr,"%B %d, %Y").strftime("%m/%d/%Y")]
#print(date_d1)
#int_dates= int(date_d1)
#print(int_dates)
#dr=org_df.Date
#org_df['Date']=[datetime.strptime(dr,"%B %d, %Y").strftime("%m/%d/%Y")] 

#[datetime.strptime(dr,"%B %d, %Y").strftime("%m/%d/%Y")](lambda x: datetime.strptime(x, '%Y%m%d%H'))

date=list(map(lambda x: datetime.strptime(x,'%b %d, %Y').strftime('%m/%d/%Y'), org_df['Date']))
date
#pd.to_datetime[(org_df['Date'], format='%b %d, %Y').strftime("%m/%d/%Y")]

['11/13/2019',
 '11/09/2019',
 '11/06/2019',
 '11/02/2019',
 '10/30/2019',
 '10/26/2019',
 '10/23/2019',
 '10/19/2019',
 '10/16/2019',
 '10/12/2019',
 '10/09/2019',
 '10/05/2019',
 '10/02/2019',
 '09/28/2019',
 '09/25/2019',
 '09/21/2019',
 '09/18/2019',
 '09/14/2019',
 '09/11/2019',
 '09/07/2019',
 '09/04/2019',
 '08/31/2019',
 '08/28/2019',
 '08/24/2019',
 '08/21/2019',
 '08/17/2019',
 '08/14/2019',
 '08/10/2019',
 '08/07/2019',
 '08/03/2019',
 '07/31/2019',
 '07/27/2019',
 '07/24/2019',
 '07/20/2019',
 '07/17/2019',
 '07/13/2019',
 '07/10/2019',
 '07/06/2019',
 '07/03/2019',
 '06/29/2019',
 '06/26/2019',
 '06/22/2019',
 '06/19/2019',
 '06/15/2019',
 '06/12/2019',
 '06/08/2019',
 '06/05/2019',
 '06/01/2019',
 '05/29/2019',
 '05/25/2019',
 '05/22/2019',
 '05/18/2019',
 '05/15/2019',
 '05/11/2019',
 '05/08/2019',
 '05/04/2019',
 '05/01/2019',
 '04/27/2019',
 '04/24/2019',
 '04/20/2019',
 '04/17/2019',
 '04/13/2019',
 '04/10/2019',
 '04/06/2019',
 '04/03/2019',
 '03/30/2019',
 '03/27/2019',
 '03/23/2019',
 '03/20/2019',
 '03/16/2019',
 '03/13/2019',
 '03/09/2019',
 '03/06/2019',
 '03/02/2019',
 '02/27/2019',
 '02/23/2019',
 '02/20/2019',
 '02/16/2019',
 '02/13/2019',
 '02/09/2019',
 '02/06/2019',
 '02/02/2019',
 '01/30/2019',
 '01/26/2019',
 '01/23/2019',
 '01/19/2019',
 '01/16/2019',
 '01/12/2019',
 '01/09/2019',
 '01/05/2019',
 '01/02/2019']

In [75]:
#make sure only millions 
mask=org_df['Jackpot'].str.contains('thousand')
org_df[mask]

pattern= re.compile(r'$/d+')
re.findall(pattern,str(org_df['Jackpot']))

error: nothing to repeat at position 1

In [91]:
values=[]

for i in org_df['Jackpot'].str.split():
    values.append(i[0][1:])

In [93]:
values= pd.Series(values)
values=values.astype(int)
values=values * 1000000
values

0      60000000
1      50000000
2      40000000
3     150000000
4     140000000
5     130000000
6     120000000
7     110000000
8     100000000
9      90000000
10     80000000
11     70000000
12     60000000
13     50000000
14     40000000
15     80000000
16     70000000
17     60000000
18     50000000
19     40000000
20     80000000
21     70000000
22     60000000
23     50000000
24     40000000
25    149000000
26    138000000
27    128000000
28    112000000
29    102000000
        ...
61    101000000
62     84000000
63     68000000
64     54000000
65     40000000
66    750000000
67    625000000
68    550000000
69    495000000
70    448000000
71    414000000
72    381000000
73    348000000
74    322000000
75    304000000
76    282000000
77    260000000
78    242000000
79    224000000
80    204000000
81    191000000
82    174000000
83    161000000
84    144000000
85    129000000
86    112000000
87     96000000
88     82000000
89     69000000
90     53000000
Length: 91, dtype: int32

In [103]:
import numpy as np
combined_list_pb = pd.DataFrame(np.column_stack([date, values]),
                               columns=['Date', 'Jackpot'])

In [105]:
combined_list_pb

          Date    Jackpot
0   11/13/2019   60000000
1   11/09/2019   50000000
2   11/06/2019   40000000
3   11/02/2019  150000000
4   10/30/2019  140000000
5   10/26/2019  130000000
6   10/23/2019  120000000
7   10/19/2019  110000000
8   10/16/2019  100000000
9   10/12/2019   90000000
10  10/09/2019   80000000
11  10/05/2019   70000000
12  10/02/2019   60000000
13  09/28/2019   50000000
14  09/25/2019   40000000
15  09/21/2019   80000000
16  09/18/2019   70000000
17  09/14/2019   60000000
18  09/11/2019   50000000
19  09/07/2019   40000000
20  09/04/2019   80000000
21  08/31/2019   70000000
22  08/28/2019   60000000
23  08/24/2019   50000000
24  08/21/2019   40000000
25  08/17/2019  149000000
26  08/14/2019  138000000
27  08/10/2019  128000000
28  08/07/2019  112000000
29  08/03/2019  102000000
..         ...        ...
61  04/13/2019  101000000
62  04/10/2019   84000000
63  04/06/2019   68000000
64  04/03/2019   54000000
65  03/30/2019   40000000
66  03/27/2019  750000000
67  03/23/2019  625000000
68  03/20/2019  550000000
69  03/16/2019  495000000
70  03/13/2019  448000000
71  03/09/2019  414000000
72  03/06/2019  381000000
73  03/02/2019  348000000
74  02/27/2019  322000000
75  02/23/2019  304000000
76  02/20/2019  282000000
77  02/16/2019  260000000
78  02/13/2019  242000000
79  02/09/2019  224000000
80  02/06/2019  204000000
81  02/02/2019  191000000
82  01/30/2019  174000000
83  01/26/2019  161000000
84  01/23/2019  144000000
85  01/19/2019  129000000
86  01/16/2019  112000000
87  01/12/2019   96000000
88  01/09/2019   82000000
89  01/05/2019   69000000
90  01/02/2019   53000000

[91 rows x 2 columns]

In [113]:
#To connect
import os
import pymongo
from pymongo import MongoClient



# Create connection variable
conn = 'mongodb://localhost:27017'
pb_db= 'NewYork_Lottery'
pb_cl= 'Powerball'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client[pb_db]
cl = db[pb_cl]

# Drops collection if available to remove duplicates
db.cl.drop()
cleandf=combined_list_pb.set_index('Date')
writedf=cleandf.to_dict('index')

cl.insert(writedf)

C:\Users\liset\Anaconda\lib\site-packages\ipykernel_launcher.py:25: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5dd3466b6b346851dd6dbc47')